html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: url(/robbie_2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@font-face {
  font-family: nav_font;
  src: url('palovsky.ttf');
}

@font-face {
  font-family: header_font;
  src: url('GeosansLight.ttf');
}

@font-face {
  font-family: header_special;
  src: url('GeosansLight-Oblique.ttf');
}

.wrapper {
  box-sizing:border-box;
  width:1190px;
  padding-top: 30px;
  padding-bottom: 30px;
  height:100%;
  margin:0px auto;
}

/*___________________________________*/

.header {
  float: left;
  padding-bottom:5px;
  padding-right:5px;
  width: 470px;
  height: 100%;
}

.header .waldo {
  font-family: nav_font;
  opacity: .75;
  font-size: 170px;
  line-height: 70%;
  cursor: default;
  padding-top: 40px;
  cursor: pointer;
}

.header .waldo a {
  color: black;
  text-decoration: none;
}

.nav {
  width: 470px;
  height: 560px;
  font-family: nav_font;
  font-size: 60px;
  text-align: left;

  /*background-color: rgba(30, 30, 30, 0.6);*/
}

.nav .navItem a {
  color: black;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.72;
  transition-property: color;
  transition-duration: 0.3s;
  -webkit-transition-property: color; /* Safari */
  -webkit-transition-duration: 0.3s; /* Safari */
}

.nav .navItem a:hover {
  color: white;
}

.nav .navItem .active a {
  color: white !important;
}

.nav ul {
  text-align: right;
  margin: 0;
  padding-left: 0;
  list-style: none;
  list-style-image: none;
}

/*___________________________________*/

.contentWrapper {
  display: none;
  position: relative;
  overflow: hidden;
  height: 100%;
  min-height: 735px;
}

.contentWrapper .container {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 7px;
  border-radius: 2px;

  background-color: rgba(30, 30, 30, 0.8);
}

.contentWrapper .container .inside {
  position: relative;
  overflow: scroll;
  height: 99.5%;
  width: 100%;
  background-color: white;
  padding-top: 5px;
  border-radius: 1px;
}

.contentWrapper .container .inside .content {
  position: relative;
  height: 100%;
  width: 100%;
  background: none;
}

/*___________________________________*/

/*___________ MUSIC _________________*/

div.content {
  height:100%;
  width:100%;
}

.content object {
  overflow: scroll;
  position: relative;
  display: block;
  height: 590px;
  width: 590px;
  margin: auto;
}

.content center {
  font-family: header_font;
  font-size: 50px;
}

.content .release {
  font-family: header_font;
  font-size: 22px;
  color: rgba(30, 30, 30, 0.6);
}

.content ol {
  font-family: header_font;
  float: left;
  font-size: 20px;
  margin: 0;
  margin-left: 35px;
  padding: 0;
}

/*_________ SHOWS __________________*/

.showItem a {
  text-decoration: none;
  cursor: pointer;
  transition-property: color;
  transition-duration: 0.3s;
  -webkit-transition-property: color; /* Safari */
  -webkit-transition-duration: 0.3s; /* Safari */
}

.showItem a:hover {
  color: rgba(30, 30, 30, 0.6);
}

.showItem {
  padding-top:9px;
  height: 80px;
  width:100%;
  border-bottom: 2px solid black;
}

.showItem .date {
  border-top: 3px solid black;
  height: 90%;
  display: inline-block;
}

.showItem .date h1 {
  font-family: header_special;
  padding: 2px;
  margin: 0;
  font-size: 60px;
}
                      
.showItem .venue {
  padding-left: 10px;
  font-family: header_font;
  font-size: 40px;
}

.showItem .tickets {
  padding-top: 33px;
  padding-right: 2px;
  float: right; 
  font-family: header_font;
  font-size: 30px;
}